/* 

Fuentes

Las fuentes un aspecto fundamental del diseño web, influyen mucho en la estética, legibilidad y jerarquía visual.

Para definir una familia tipográfica usamos la propiedad::after

  font-family: "nombre de la fuente";

1. Web Safe Fonts > Fuentes Web Seguras. Son tipografías predeterminadas y que se pueden usar en cualquier dispositivo, sistema operativo o navegador web.

  - Por estilo o categoria > Keywords o palabras clave

    - serif
    - sans-serif
    - monospace
    - cursive > script
    - fantasy > decorativa

  - Por nombre de la familia tipográfica 
    - Arial
    - "Times New Roman"
    - Verdana
    - Geneva
    - Tahoma
    ...
    
    Los valores que con más de una palabra se escriben entre comillas dobles "" o simples ''

    La recomendación es usar máximo 2 fuentes de respaldo, sipor alguna razón no se carga la fuente principal, se cargaran las secundarias. Los nombres se separan por comas ,

*/

body {
  font-family: serif; /* Default del user profile */
  font-family: sans-serif;
  font-family: monospace;
  font-family: cursive;
  font-family: fantasy; 

}

h1 {
  font-family: Arial;
  font-family: "Times New Roman";
  font-family: Verdana;
  font-family: "Gill Sans";
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-family: "Lucida Sans", Arial, sans-serif;
}

/* 

  2. Fuentes Personalizadas. Son fuentes que nosotros elegimos de acuerdo al estilo de la web o a los lineamientos de la marca gráfica.

  - Fuentes externas. Se llaman a traves de recursos en línea o servidores remotos. Por ejemplo Google Fonts.
  - Fuentes internas. Se llaman a través de nuestras carpetas o servidor propio.

*/

h2 {
   font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* 

Llamamos a nuestra tipografía interna con la sentencia @font-face

*/

@font-face {
  font-family: "Super Sliced";
  src: url("./Super\ Sliced.ttf"), format("ttf") ;
}

p {
  font-family: "Super Sliced", fantasy;
}
