/* 

  Unidades en CSS

  Las unidades en CSS se dividen en dos categorias principales:

  1. Unidades Absolutas

  Mantienen valores fijos independientemente del dispositivo o contexto.

  Es decir que "siempre" tendran el mismo valor sin importar el tamaño de pantalla o del contenedor.

  Son útiles cuando se requiere presición en las medidas, pero NO son ideales para diseño web responsivo.

  Las unidades absolutas más usadas son:

  - px (pixeles) - Esta unidad marca un punto en la pantalla. (1/96 de 1in)

  Otras unidades

  - cm (centímetros) - 1cm = 96px / 2.54in
  - mm (milimetros) - 1/10 de 1cm
  - in (pulgadas) - 1in = 96px
  - pc (picas) - 1/6 de 1in
  - pt (puntos) - 1/72 de 1in

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px; /* Default */
  font-size: 24px;
}

body {
  font-family: sans-serif;
  margin: 24px;
  padding: 0;
  background-color: rebeccapurple;
}

h1, 
h2 {
  text-align: center;
  margin-bottom: 24px;
  color: lightsteelblue;
}

section {
  font-size: 24px;
  margin: 48px 0;
  padding: 24px;
  border-radius: 1px solid white;
  border-radius: 16px;
  background-color: rgb(48, 0, 48);
}

/*.box {
  text-align: center;
  margin: 16px auto;
  padding: 16px;
  color: lightblue;
} */

/* Unidades Absolutas */

.px {
  width: 200px;
  height: 200px;
background-color: darkblue;
}

.cm {
  width: 5cm;
  height: 5cm;
background-color: darkslateblue;
}

.in {
  width: 2in ;
  height: 2in;
background-color: blue;
}

/* 

  2. Unidades Relativas

  Son unidades que adaptan sus valors en función del dispositivo o contexto. Es decir se cambiaran de acuerdo al área visible del navegador, al contenedor u otro valor de referencia.

  Son útiles cuando necesitamos flexibilidad y son ideales para el diseño web responsivo. 

  Las unidades más usadas son::after

  em - relativa al tamaño de fuente del elemento padre en el html.
  rem - relativa al tamaño de fuente del elemento raíz o root > html.
  % - es relativo al elemento padre.
  VW (Viewport Width) - Es porcentaje relativo al ancho del área visible del navegador.
  VH (Viewport Height) - Es porcentaje relativo al alto del área visible del navegador.
  Vmin (Viewport Min) - Es un porcentaje relativo al lado más pequeño del área visible del navegador. 
  Vmax (Viewport Max) - Es un porcentaje relativo al lado más grande del área visible del navegador. 
*/

/* Unidades Relativas */

article {
  font-size: 20px;
  margin: 48px 0;
  padding: 24px;
  border-radius: 1px solid white;
  border-radius: 16px;
  background-color: rgb(19, 0, 26);
}

.em {
  width: 3em; /* 60px */
  background-color: rgb(0, 2, 31);
}

.rem {
  width: 6rem; /* 144px */
  background-color: rgb(9, 11, 60);
}

.percent {
  width: 50%;
  background-color: rgb(31, 20, 110);
}

.vw {
  background-color: rgb(72, 64, 155);
}

.vh {
  background-color: rgb(86, 134, 177);
}

.vmin {
  background-color: rgb(118, 182, 237);
}

.vmax {
  background-color: rgb(84, 125, 161);
}