/* Resset Básico */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgoldenrodyellow;
  font-family: sans-serif;
  color: darkblue;
}

img {
  opacity: 1; /* 0 al 1 */
}

/* 

  Bordes Redondeados (Border Radius)

  Nos permite redondear las esquinas de los elementos de html

  Shorthand

    border-radius: top-l top-r bottom-r bottom-l; // 4 valores
    border-radius: top-l top-r/bottom-l bottom-r; // 3 valores 
    border-radius: top-l/buttom-r top-r/buttom-l // 2 valores
    border-radius: tl/tr/br/bl; // 1 valor

  Proiedades Individuales

    border-top-left-radius: valor;
    border-top-right-radius: valor;
    border-bottom-right-radius: valor;
    border-bottom-left-radius: valor;

  Desbordamiento (overflow)

  Es la propiedad que controla el comportamiento de un contenedor cuando el contenido se desborda.

  Un contenido se desborda cuando sale por los bordes de la caja que los contiene.

  La propiedad overflow también es un Shorthand que abrevia dos dimensiones x,y

  Shorthand

    overflow: visible; // Valor por defecto. 
    overflow: hidden; // El contenido que se desborda se oculta a partir del borde del contenedor. 
    overflow: scroll; // Se muestran las barras de scroll.
    overflow: auto; // El navegador decide si se necesita mostrar las barras o no.

  Propiedades Individuales

    Overflow-x: valor;
    Overflow-y: valor;

*/

.box {
  width: 300px;
  height: 300px;
  color: aliceblue;
  font-size: 48px;
  font-weight: 48px;
  text-align: center;
  /* padding-top: 120px; */
  margin: 24px;
  display: inline-block;

  overflow: visible;
  overflow: hidden;
  overflow: scroll;
}

.box-1 {
  background-color: darkcyan;
  border-radius: 24px;
  border-radius: 48px 12px;
  border-radius: 48px 12px 8px;
  border-radius: 48px 24px 12px 8px
  ;
}

.box-2 {
  background-color: darkmagenta;
  border-top-left-radius: 72px;
  border-bottom-left-radius: 72px;
}

.box-3 {
  background-color: darkred;
  border-radius: 50%; /* Circulo cuando es una caja cuadrada */
}